/*Variaveis*/
:root {
  --bg-cor: rgb(0, 0, 0);;
  --texto-cor: #eee;
  --texto-avermelhado: ##eddfdf;
  --cor-principal: rgb(206, 2, 2);
  --principal-escura: rgb(157, 2, 2);
  --principal-maisescura: rgb(119, 0, 0);
} 

.cinema {
  margin: 100px auto 0 auto;
  width: fit-content;
  max-width: 350px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 50px 40px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 3px 20px #3535358c;
}

  .tela {
    text-align: center;
  }
  .tela .tela-nome {
    height: 25px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0px -3px 0px 1px #ccc;
    color: #ccc;
  }
  .tela h3{
    color: #969696;
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cadeiras-dentro {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cadeira {
    display: flex;
    align-items: center;
    height: 70px;
    width: 80px;
    flex: 0 0 14.28571%;
    padding: 5px;
    position: relative;
  }

  /*PODE CLICAR*/
  .cadeira input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  .cadeira input[type="checkbox"]:checked + label {
    background: var(--cor-principal);
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }

  /*NAO PODE CLICAR*/
  .cadeira input[type="checkbox"]:disabled + label {
    background: #ddd;
    text-indent: -9999px;
    overflow: hidden;
  }
  .cadeira input[type="checkbox"]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .cadeira input[type="checkbox"]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
  }

  /*NOMES NAS CADEIRAS*/
  .cadeira label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    color: #fff;
    background: #26a679;
    border-radius: 2px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    transition-duration: 300ms;
  }
  .cadeira label:hover {
    cursor: pointer;
    box-shadow: 0px 0 7px 3px #ccc;
  }
 
  .divBotao{
    margin: 20px auto;
    background-color: #26a69a;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
  }

  .botao {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  }