/*Variaveis*/
:root {
    --bg-cor: rgb(0, 0, 0);;
    --texto-cor: #eee;
    --texto-avermelhado: ##eddfdf;
    --cor-principal: rgb(206, 2, 2);
    --principal-escura: rgb(157, 2, 2);
    --principal-maisescura: rgb(119, 0, 0);
  } 

.container-confirmacao{
    text-align: left;
    width: fit-content;
    margin: 100px auto;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
    color: rgb(114, 114, 114);
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 3px 20px #3535358c;
}

h1 {
    color: var(--cor-principal);
}
