:root {
  --bg-cor: rgb(0, 0, 0);
  --texto-cor: #eee;
  --cor-principal: rgb(206, 2, 2);
  --principal-escura: rgb(157, 2, 2);
  --principal-maisescura: rgb(119, 0, 0);
}

body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  background-color: var(--bg-cor);
}

.filme-posters {
  position: relative;
  display: block;
  width: 1000px;
  height: 600px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 150px -45px var(--cor-principal);
}

.informacoes {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.header-poster {
  position: relative;
  padding: 25px;
  height: 40%;
}
h1 {
  color: #fff;
  font-weight: 400;
}

h4 {
  color: #9ac7fa;
  font-weight: 400;
}

.minutos {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.genero {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}

.posterzinho {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(8, 20, 177, 0.739);
}

.descricao {
  padding: 20px;
  height: 50%;
  
}
#ctsd .paragrafo {
  color: #eddfdf;
  font-size: x-large;
}
#O8 .paragrafo {
  color: #eddfdf;
  font-size: large;
}
#interestelar .paragrafo {
  color: #eddfdf;
  font-size: large;
}
#f1917 .paragrafo {
  color: #eddfdf;
  font-size: x-large;
}

.horas-filme {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
ul {
  list-style: none;
  padding: 0;
  li {
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(85, 6, 6);
    display: inline-block;
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: -10px 10px;
    &:hover {
      transition: color 0.3s;
      color: rgba(255, 255, 255, 0.8);
      font-size: 23px;
      cursor: pointer;
    }
  }
}
.botao {
  color: rgba(255, 249, 249, 0.848);
}

.nevoa {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

#ctsd {
  background: url("https://upload.wikimedia.org/wikipedia/pt/0/0b/How_to_Train_Your_Dragon_3_poster.jpg");
  background-size: cover;
}
#interestelar{
  background: url("https://br.web.img3.acsta.net/c_310_420/pictures/14/10/31/20/39/476171.jpg");
  background-size: cover;
}
#O8{
  background: url("https://upload.wikimedia.org/wikipedia/pt/6/62/Oceans_Eight_Poster.jpeg");
  background-size: cover;
}
#f1917{
  background: url("https://upload.wikimedia.org/wikipedia/pt/f/ff/1917_poster.jpg");
  background-size: cover;
}
/*responsivo*/
@media screen and (min-width: 768px) {
  .header-poster {
    width: 60%;
  }

  .descricao {
    width: 50%;
  }

  .informacoes {
    background: linear-gradient(
      to right,
      var(--principal-escura) 50%,
      transparent 100%
    );
  }

  .poster-atras {
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .filme-posters {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .poster-atras {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .header-poster {
    width: 100%;
    margin-top: 85px;
  }

  .descricao {
    width: 100%;
  }

  .informacoes {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}
