/*Variaveis*/
:root {
    --bg-cor: rgb(0, 0, 0);
    --texto-cor: #eee;
    --texto-avermelhado: #eddfdf;
    --cor-principal: rgb(206, 2, 2);
    --principal-escura: rgb(157, 2, 2);
    --principal-maisescura: rgb(119, 0, 0);
  }
 body{
    font-family: 'Roboto', sans-serif;
 } 
  .titulo {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font: sans-serif;
    color: var(--cor-principal);
  }
  
.pagamento-container
{     
    padding: 5%;      
	width: 100%;
	display: flex;
    flex-direction: row; 
    color:var(--cor-principal);  
    justify-content: space-between;   
}

.cartao-info {
	width: 60%;   
    background-color: #ffffff;
    position:center;
    align-self: center;  
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 2rem 3rem 2rem 4rem;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputs
{
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
}

.validade-cvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.validade-texto{
    padding-right: 1rem;
}
.cvv-texto{
    padding:0 1rem;
}

.botao-finalizar{
    background: linear-gradient( 135deg, #df3e3e 0%,
     #8e1515 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
    text-align: center;
}

.botao-finalizar:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

.itens-ecolhidos{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 30%; 
    background-color: #ffffff;
    border-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 0rem 3rem 0rem 3rem;
}

.itens-ecolhidos h2 {
    align-self: center;
    justify-self: center;
    font-size: 2.5rem;
}
         
.itens {
    height: 100px;
    background-color: purple;
    width: 10px;
  }

@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }
    .pagamento-container{
        flex-direction: column; 
    }

}
